<html>
  <%- partial('_partial/head.ejs') %>

  <body>
    <div class="container">
      <!-- Header -->
      <%- partial('_partial/header.ejs') %>
      <%- body %> 
      <!-- Footer -->
      <%- partial('_partial/footer.ejs') %> 
    </div>

    <!-- After footer file to store js of Bootstrap -->
    <%- partial('_partial/after-footer.ejs') %> 
  </body>

</html>