<html>
  <%- partial('_partial/head.ejs') %>

  <body>
    <!-- Header -->
    <%- partial('_partial/header.ejs') %>

    <div class="container main-page">
      <%- body %> 
    </div>

    <!-- Footer -->
    <%- partial('_partial/footer.ejs') %> 

    <!-- After footer file to store js of Bootstrap -->
    <%- partial('_partial/after-footer.ejs') %> 
  </body>

</html>