<div class="blog-excerpt">
  <% if (item.position == 1) { %> 
    <div class="excerpt-wrapper">
      <a class="title" href=""><%- item.title %></a>
      <section><%- item.excerpt %></section>
    </div>
    <div class="image-wrapper">
      <% if (item.image_url) { %> 
        <img src="<%= item.image_url %>" alt="">
      <% } else { %> 
        <img src="https://images.unsplash.com/photo-1494548162494-384bba4ab999?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="">
      <% } %> 
    </div>
  <% } else { %> 
    <div class="image-wrapper">
      <% if (item.image_url) { %> 
        <img src="<%= item.image_url %>" alt="">
      <% } else { %> 
        <img src="https://images.unsplash.com/photo-1494548162494-384bba4ab999?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="">
      <% } %> 
    </div>
    <div class="excerpt-wrapper">
      <a class="title" href=""><%- item.title %></a>
      <section><%- item.excerpt %></section>
    </div>
  <% } %> 
</div>

